

<div class="container fdc">
  <div class="flx fdc">
    <mat-form-field>
      <textarea #post (blur)="setPlaceholder(post)" (focus)="placeholder = ''" matInput [placeholder]="placeholder" name="" id="" cols="30" rows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="create(post.value)">TWEET</button>
  </div>

  <div class="flx fdc">
    <mat-card *ngFor="let tweet of tweets; let i = index;">
      <mat-card-title>
        Title
      </mat-card-title>
      <mat-card-content>
        {{tweet.text}}
      </mat-card-content>
      <mat-card-actions>
        <button (click)="openEditDialog(tweet)" mat-raised-button color="accent">Edit</button>
        <button (click)="deleteTweet(tweet._id, i)" mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

