<mat-toolbar color="accent" class="mat-elevation-z4">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">More..</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Settings</button>
  <button (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>

<div class="container fdc">
  <div class="flx fdc">
    <mat-form-field>
      <textarea #post (blur)="setPlaceholder(post)" (focus)="placeholder = ''" matInput [placeholder]="placeholder" name="" id="" cols="30" rows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="create(post.value)">TWEET</button>
  </div>

  <div class="flx fdc">
    <mat-card *ngFor="let tweet of tweets">
      <mat-card-content>
        {{tweet.text}}
      </mat-card-content>
    </mat-card>
  </div>
</div>